@import url(http://fonts.googleapis.com/css?family=Titillium+Web&subset=latin-ext);

html, body {
	margin: 0 auto;
	background-image: url(slike/visocica-2.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 100%;
	color: white;
	font-family: "Titillium Web";
}

#zaglavlje {
	margin: 20px 25px 0px 25px;
	float: left;
	height: auto;
	width: auto;
}

#logo {
	width: auto;
	height: auto;
	display: normal;
	margin: 0 auto;
}

#logo a:hover {
	opacity: 0.9;
}

#grb {
	width: 95px;
	height: auto;
	margin: 0 auto;
}

#logotip {
	margin: 1px 0px 0px 0px;
	height: auto;
	width: auto;
	color: white;
	font-size: 10pt;
	font-stretch: extra-condensed;
	font-weight: lighter;
	font-family: 'Titillium Web';
	text-align: center;
}

#meni {
	margin-top: 20px;
	width: auto;
	height: auto;
	float: left;
}

#meni ul {
	list-style: none;
	padding-left: 0%;
}

#meni a {
	text-decoration: none;
	color: #1a7d3e;
}

#meni a:hover {
	color: white;
}

.meni-stavka {
	margin-top: -15px;
	margin-bottom: 23px;
	display: block;
	color: #1a7d3e;
	background-color: white;
	padding-left: 15px;
	height: auto;
	width: 175px;
	text-align: left;
	font-size: 12pt;
	text-decoration: none;
	font-family: "Titillium Web";
}

.meni-stavka:hover {
	background-color: #1a7d3e;	
}

#podmeni {
	display: none;
	margin-top: -22px;
	margin-bottom: 22px;
	width: auto;
	height: auto;
}

#podmeni ul {
	list-style: none;
	padding-left: 0%;
}

#podmeni a {
	text-decoration: none;
	color: white;
}

#podmeni a:hover {
	color: #1a7d3e;
}

.podmeni-stavka {
	margin-top: -15px;
	display: block;
	color: white;
	background-color: #1a7d3e;
	padding-left: 15px;
	height: auto;
	width: auto;
	text-align: left;
	font-size: 12pt;
	text-decoration: none;
	font-family: "Titillium Web";
}

.podmeni-stavka:hover {
	background-color: white;	
}

#sadrzaj {
	border: 1px solid white;
	background-color: white;
	color: #1a7d3e;
	margin: 20px 0 20px 25px;
	padding: 20px 20px 20px 20px;
	float: left;
	width: auto;
	height: auto;
	font-family: "Titillium Web";
	overflow-y: scroll;
}

table, th, tr, td {
	font-family: 'Titillium Web';
	border: 1px solid lightgray;
	border-collapse: collapse;
}

th, tr, td {
	padding: 15px;
}

#parni-red {
	background-color: #f0f0f0;
}

.novost {
	display: flex;
	margin-bottom: 10px;
	padding: 10px 20px 10px 20px;
	max-width: 500px;
	height: auto;
	width: auto;
	font-family: "Titillium Web";
	color: white;
	background-color: white;
	border: 1px solid lightgray;
}

.novost a {
	color: #1a7d3e;
	text-decoration: none;
}

.novost a:hover {
	background-color: #1a7d3e;
	color: white;
}

.komentari-na-novost {
	display: flex;
	margin-top: -10px;
	margin-bottom: 10px;
	padding: 10px 20px 10px 20px;
	max-width: 500px;
	height: auto;
	width: auto;
	border: 1px solid lightgray;
}

.linkovi {
	padding-left: 20px;
	margin: 0 auto;
	list-style-image: url(slike/ba.gif);
	font-family: 'Titillium Web';
}

.linkovi a {
	color: #1a7d3e;
	text-decoration: none;
}

.linkovi a:hover {
	background-color: #1a7d3e;
	color: white;
}

.naslov-novosti {
	color: #1a7d3e;
	font-family: "Titillium Web";
	font-weight: bold;
	padding: 0 auto;
	margin: 0 0 0 0;
}

.datum-i-vrijeme-novosti {
	color: red;
	font-family: "Titillium Web";
	font-size: 9pt;
	line-height: normal;
}

.datum-i-vrijeme-novosti a {
	color: red;
	text-decoration: none;
}

.datum-i-vrijeme-novosti a:hover {
	text-decoration: underline;
}

.broj-komentara-x {
	line-height: 2pt;
	color: #1a7d3e;
	text-decoration: none;
}

.tekst-novosti {
	color: #1a7d3e;
	margin: 10px 0 0 0;
}

.tekst-novosti a {
	color: #1a7d3e;
	text-decoration: none;
}

.tekst-novosti a:hover {
	background-color: #1a7d3e;
	color: white;
}

.news-text {
	color: #1a7d3e;
	margin: 10px 0 0 0;
}

.news-image {
	margin-left: 20px;
	width: 40%;
	height: auto;
	float: left;
	border: 1x solid #1a7d3e;
}

#dno {
	margin: 20px 0 0 25px;
	padding-left: 5px;
	padding-right: 5px;
	width: auto;
	float: left;
	text-align: center;
	font-family: "Titillium Web";
	font-size: 10pt;
	background-color: white;
	color: #1a7d3e;
}

#dno:hover {
	background-color: #1a7d3e;
	color: white;
}

.stavka_forme {
	font-family: 'Titillium Web';
}

#posalji {
	float: right;
	margin-top: 10px;
	margin-bottom: 15px;
}

#poruka {
	margin-top: 10px;
	margin-left: 50px;
	margin-bottom: 10px;
	font-size: 16pt;
}

.obavezno {
	font-family: 'Titillium Web';
	color: red;
}

.greska {
	font-family: 'Titillium Web';
	color: red;
	font-weight: bold;
	font-size: 10pt;
}

#provjera_forme {
	padding: 10px 0 10px 10px;
	background-color: #1a7d3e;
	color: white;
	margin-bottom: 10px;
	width: auto;
}

#dalistesigurni {
	color: red;
}

#zahvala {
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 200px;
	width: auto;
}

#gradovi th, td {
	vertical-align: middle;
	text-align: center;
}

.gradovi-red:hover {
	background-color: #f0f0f0;
}

#prijava {
	margin: 0 auto;
	padding: 10px 25px 10px 25px;
	background-color: #1a7d3e;
}

#panel {
	height: auto;
	background-color: #415895;
	padding: 10px 25px 10px 25px;
}

#panel h3 {
	text-align: center;
}

#greskaprijava {
	margin: 0 auto;
	padding: 10px 25px 10px 25px;
	background-color: red;
}

#uspjesnaprijava {
	margin: 0 auto;
	padding: 10px 25px 10px 25px;
	background-color: darkblue;
}

#panel-opcije {
	text-align: center;
	padding: 10px 0 10px 0;
}

#panel-lista {
	width: auto;
	height: auto;
	padding: 10px 25px 10px 25px;
}

.panel-stavka {
	width: auto;
	margin-bottom: 20px;
}

.panel-stavka-vrijeme {
	display: inline-block;
	padding: 0 5px 0 5px;
	width: 150px;
	background-color: red;
	color: white;
}

.panel-stavka-vrijednost {
	padding: 0 5px 0 5px;
	background-color: white;
	color: #415895;
	width: 300px; 
}